@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

.userName {
	color: green;
	padding: 20px;
}

.textbox{
	color: black;
}


body {
	background-color:  black;
	color: white;
	background-image: url("../images/woodBackground.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

button {
 	color: black;
 }

.link {
	color: black;
	padding: 20px;
}



 


